.join-section {
  background: linear-gradient(
      to top,
      rgba(65, 65, 65, 0.4),
      rgba(65, 65, 65, 0.7)
    ),
    url(../../assets/join.png) no-repeat center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.join-title {
  font-size: 3.25rem;
  text-align: center;
  color: #fff;
}

.join-subtitle {
  font-size: 24px;
  text-align: center;
  color: whitesmoke;
}

.join-form {
  display: flex;
  gap: 10px;
}
.join-form input {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 0 16px;
  outline: none;
  border: none;
  width: 400px;
  height: 36px;
}

.join-form input.none {
  display: none;
}

.join-form button {
  background-color: #55c2d8;
  border: none;
  color: #fff;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
}

.join-form button:disabled {
  opacity: 0.5;
}

.join-form button.none {
  display: none;
}

@media only screen and (max-width: 768px) {
  .join-section {
    height: 400px;
  }
  .join-title {
    font-size: 2.25rem;
    text-align: center;
    color: #fff;
  }

  .join-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 4rem;
  }

  .join-form input {
    padding: 0 16px;
    width: 200px;
  }
}
