.community-section {
  height: 100%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-hide {
  padding: 1rem 3rem;
  border: 2px solid red;
  color: red;
}
.content--title {
  font-size: 3.25rem;
  color: #464547;
  text-align: center;
}

.content--subtitle {
  font-size: 24px;
  text-align: center;
  color: gray;
  margin-bottom: 7rem;
}
.content {
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
}

.content--cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content--cards img {
  width: 40%;
  height: 100%;
}

.content--cards h1 {
  margin: 0;
}
.content--cards p {
  text-align: center;
  color: black;
  font-size: 19px;
}

@media only screen and (max-width: 768px) {
  .community-section {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content--title {
    font-size: 2.2rem;
  }
  .content--subtitle {
    font-size: 20px;
    margin-bottom: 3rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
}
