.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.cart-content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}
